<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>批量上传</title>
    <!--引入外部bootstrap中的css文件-->
    <link rel="stylesheet" herf="/static/css/bootstrap.min.css">
    <!--jQuery 引入，务必在bootstrap.min.js之前引入-->
    <script src="/static/js/jquery-3.3.1.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <!--再引入bootstrap.min.js文件-->
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/index/index.js"></script>

    <!--<script>
        function showData(){
            var MgrUser = {
                id: "managerTable",//表格id
                seItem: null,		//选中的条目
                table: null,
                layerIndex: -1
            };

            var index = layer.open({
                type: 2,
                title: '添加管理员',
                area: ['800px', '560px'], //宽高
                fix: false, //不固定
                maxmin: true,
                content: Feng.ctxPath + '/openAdd'
            });
            MgrUser.layerIndex = index;
        }


    </script>-->
</head>
<body>
<div align="">
    <!--导入数据操作层-->
   <!-- <div id="import" class="modal fade bs-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">文件导入</h4>
                </div>
                <div class="modal-body">
                    <div style="text-align:right;padding:5px">
                       &lt;!&ndash; <a href="~/Content/Template/TestUser-模板.xls" onclick="javascript:Preview();">
                            &lt;!&ndash;<img alt="测试用户信息-模板" src="~/Content/images/ico_excel.png" />&ndash;&gt;
                            <span style="font-size:larger;font-weight:200;color:red">TestUser-模板.xls</span>
                        </a>&ndash;&gt;
                    </div>
                    <hr/>
                    <form id="ffImport" method="post">
                        <div title="Excel导入操作" style="padding: 5px">
                            <input type="hidden" id="AttachGUID" name="AttachGUID" />
                            <input id="excelFile" type="file">
                        </div>
                    </form>

                    &lt;!&ndash;数据显示表格&ndash;&gt;
                    <table id="gridImport" class="table table-striped table-bordered table-hover" cellpadding="0" cellspacing="0" border="0">
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="SaveImport()">保存</button>
                </div>
            </div>
        </div>
    </div>-->
    <form action="/uploadFile" enctype="multipart/form-data" method="post">
      <!--  名称：<input name="name" /> <br>-->
        上传文件：<input name="file" type="file" /><br>
        <input type="submit" value="提交"  />
        <input type="reset" value="重置" />
    </form>
    <table id="gridImport" class="table table-striped table-bordered table-hover table-responsive " cellpadding="0" cellspacing="0" border="0" style="display: none">
    </table>
    <div >
        <button type="button" class="btn btn-default" onclick="showData()">预览</button>
        <button type="button" class="btn btn-primary" onclick="saveImport()">保存</button>
    </div>
</div>
</body>
<script>
    function showData(){
        $("gridImport").css("display", "block");
        $("gridImport").bootstrapTable({
            url : "/showData",
            columns : [{
                checkbox: true
            }, {
                field: 'name',
                title: '姓名'
            }, {
                field: 'stuNo',
                title: '学号'
            }, {
                field: 'sex',
                title: '性别'
            }, {
                field: 'age',
                title: '年龄'
            }, ]
        })
    }

    function saveImport(){

    }
</script>
<script>

</script>
</html>